<!DOCTYPE html>
<html>
    <head>
        <head><meta charset="UTF-8"></head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bubPan</title>
        <link type='text/css' href='jquery-ui-1.12.1.custom/jquery-ui.css'>
        <script type='text/javascript' src="jquery-3.5.1.min.js"></script>
        <script type='text/javascript' src="jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <style>
            body {
                background: linear-gradient(147deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
            }

            section {
                margin-top: 2vh;
                width: 90vw;
                margin-left: 5vw;
                background: none;
                height: 100vh;
                overflow-y: auto;
            }
        </style>
    </head>
    <body>
        <section>
            <% images.forEach(function(image){
                if (image != '.DS_Store') {%>
                    <img src='images/<%= image %>' width="100px" onclick="sendBub('images/<%= image %>')"/>
            <% }}) %>
        </section>

        <script>
            let socket=io();
            function sendBub(path) {
                let nocachePath = path + "?stamp=" + new Date().getTime();
                console.log(nocachePath);
                socket.emit('bubbPlz', nocachePath);
            }

            $('img').on('dragstart', function(event) { event.preventDefault(); });
        </script>
    </body>
</html>